{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

{% if app.user %}
<div class="container">
    <h1>Crée un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">Retour à l'index</a>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    oups, pas connecter 
    <ul class="navlist">            
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
    </ul>
</div>    
{% endif  %}
{% endblock %}
